/* @font-face {
    font-family: "Moon Get";
    src: local("Moon Get"),
     url(~assets/moon-get.ttf) format("truetype");
}
.badge {
    font-family: "Moon Get";
    font-size: 70%;
    font-style: italic;
} */